/* src/components/AddProductForm.css */
.add-product-form {
    margin: 20px;
    padding: 20px;
    border: 3px solid #cf46a1b2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-form h2 {
    margin-bottom: 20px;
}

.add-product-form div {
    margin-bottom: 15px;
}

.add-product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.add-product-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-product-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-product-form button:hover {
    background-color: #218838;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-buttons button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #cf46a2;
    color: white;
}

.form-buttons button:hover {
    background-color: #cf46a1b2;
}
