/* Estilos para la página de inicio */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1 {
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: #555;
}

.product-card:hover {
    transform: translateY(-5px);
}
/* src/styles/home.css */
.add-product-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-product-btn:hover {
    background-color: #218838;
}
.invoice {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.invoice h3 {
    margin-bottom: 10px;
}

.invoice ul {
    list-style-type: none;
    padding: 0;
}

.invoice li {
    margin-bottom: 5px;
}
