/* Estilos para la página de registro */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.register-page h1{
    margin-right: 20px;
    margin-bottom: 70px;
}
.register-form div {
    margin-bottom: 15px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.admin-checkbox {
    display: flex;
    align-items: center;
}

.admin-checkbox input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y el texto */
    vertical-align: middle; /* Alinea el checkbox verticalmente */
}

.register-form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.register-form button:hover {
    background-color: #218838;
}